.social-list {
    display: flex;
  }
  
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    fill: rgba(175, 177, 184, 1);
    transition: 250ms $animation-change-item;
  }
  
  .social-link:hover,
  .social-link:focus {
    border-radius: 50%;
    background-color: $animation-theme-color;
    fill: white;
  }
  
  .social-list-link:not(:last-child) {
    margin-right: 10px;
  }
  
  .social-svg {
  width: 20px;
  height: 20px;
  }
  