.portfolio-list-button-item {
    font-family: $main-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    letter-spacing: 0.03em;
    color: $title-theme-color;
    background-color: #F5F4FA;
    border-radius: 4px;
    padding: 6px 22px 6px;
    border: none;
  }
  
  .portfolio-list-button-item:hover,
  .portfolio-list-button-item:focus {
    background-color: $animation-theme-color;
    color: #FFFFFF; 
    border: none;
    border-style: none;
    outline: none;
    transition: background-color 250ms $animation-change-item;
  }
  
  .portfolio-group {
    display: flex;
    justify-content: center;
    margin-bottom: 44px;
  }
  
  .portfolio-list-button:not(:last-child) {
    margin-right: 8px;
  }